* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body div.offcanvas {
  background-color: rgba(0, 0, 0, 0.809);
  color: white;
  font-size: 0.8em;
  min-height: 70%;
  text-align: center;
}
body div.offcanvas .btn-close {
  background-color: white;
  color: white;
}
body .canvas-jogo #container-de-jogos-canvas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0px 10px;
  padding: 0px 10%;
}
body .canvas-jogo #container-de-jogos-canvas .div-jogo {
  display: flex;
  flex: 1 1 200px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0px 5px;
}
body .canvas-jogo #container-de-jogos-canvas .div-jogo:hover {
  background-color: rgb(73, 72, 72);
}
body div.espostes {
  font-size: 1.1em;
  min-height: 50%;
}

#btn-close {
  margin-right: 50px;
  margin-top: 10px;
}

#introducao {
  background: black url(..//imagens/banner-hero/games/diablo-bg.png) center center no-repeat;
  background-size: cover;
  color: white;
  min-height: 100vh;
}
#introducao #header {
  border-bottom: solid 0.5px rgb(109, 107, 107);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#introducao #header #logo-principal {
  border-bottom: solid 1px blue;
  max-width: 180px;
  padding: 19px 0px;
}
#introducao #header #nav {
  display: flex;
  gap: 3px;
  justify-content: space-around;
  min-width: 40%;
}
#introducao #header #nav a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
#introducao #header #nav a:hover {
  text-decoration: underline;
}
#introducao #header button {
  font-weight: bold;
  transition: 0.3s;
  width: 130px;
  border-width: 1.9px;
}
#introducao #header #menu-hamburguer {
  width: 40px;
  height: 40px;
  display: none;
}
#introducao #header #offcanvasNavbar #container-canvas-menu a {
  text-decoration: none;
  font-size: 2em;
  font-weight: bold;
  width: 100%;
}
#introducao #header #offcanvasNavbar #container-canvas-menu li {
  margin: 10px 0px;
}
#introducao #section-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 85vh;
  gap: 20px;
}
#introducao #section-1 #agrupandoEsquerdaMeio {
  display: flex;
  align-items: center;
  gap: 20px;
}
#introducao #section-1 #agrupandoEsquerdaMeio #esquerda {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
#introducao #section-1 #agrupandoEsquerdaMeio #esquerda .iconeBtn {
  cursor: pointer;
  padding: 5px;
  border: solid 2px white;
  border-bottom: transparent;
  border-top: solid 3px;
  border-radius: 50%;
}
#introducao #section-1 #agrupandoEsquerdaMeio #esquerda .iconeBtn:hover {
  border: solid 2px #ffff00;
  border-bottom: transparent;
  border-top: solid 3px rgb(255, 255, 0);
}
#introducao #section-1 #agrupandoEsquerdaMeio #esquerda .iconeBtn.initial {
  border-color: rgb(255, 255, 0);
}
#introducao #section-1 #agrupandoEsquerdaMeio #meio h1 {
  font-size: 3.5em;
  font-weight: bolder;
  max-width: 500px;
}
#introducao #section-1 #agrupandoEsquerdaMeio #meio p {
  font-size: 1.2em;
  font-weight: bold;
}
#introducao #section-1 #agrupandoEsquerdaMeio #meio button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: bolder;
  transition: 0.3s;
  width: 160px;
  border-width: 2px;
}
#introducao #section-1 #agrupandoEsquerdaMeio #meio button #icone-Joge-Agora {
  font-weight: bolder;
  font-size: 1.15em;
}
#introducao #section-1 #direita {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: end;
  font-size: 1.1em;
  font-weight: bold;
  padding: 10px;
}
#introducao #section-1 #direita #imgPageVideo {
  border: solid 2px white;
  width: 280px;
  height: 160px;
}
#introducao #section-1 #direita #imgPageVideo:hover ~ #play {
  z-index: -1;
}
#introducao #section-1 #direita #play {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 45px;
  cursor: no-drop;
}

@media screen and (min-width: 1500px) {
  #introducao #centralizacaoTelaGrande {
    font-size: 1.5em;
    margin: auto;
    max-width: 1500px;
  }
  #introducao #centralizacaoTelaGrande #section-1 #agrupandoEsquerdaMeio #meio h1 {
    font-size: 3em;
    max-width: 800px;
  }
}
@media screen and (max-width: 900px) {
  #introducao #header #logo {
    margin: 0px 40px;
  }
  #introducao #header #nav {
    display: none;
  }
  #introducao #header #menu-hamburguer {
    display: block;
  }
  #introducao #header #menu-hamburguer #iconeMenu {
    display: block;
    font-size: 3em;
  }
  #introducao #section-1 #direita {
    display: none;
  }
  #introducao #section-1 #agrupandoEsquerdaMeio #meio h1 {
    font-size: 3em;
    max-width: 100%;
  }
}
@media screen and (max-width: 585px) {
  #introducao #header button {
    display: none;
  }
  #introducao #section-1 {
    padding: 0px 30px;
  }
  #introducao #section-1 #agrupandoEsquerdaMeio {
    flex-direction: column;
    align-items: flex-start;
  }
  #introducao #section-1 #agrupandoEsquerdaMeio #esquerda {
    padding: 0px;
    flex-direction: row;
  }
  #introducao #section-1 #agrupandoEsquerdaMeio #esquerda .iconeBtn {
    width: 60px;
  }
}
@media screen and (max-width: 365px) {
  #introducao #section-1 #agrupandoEsquerdaMeio #esquerda .iconeBtn {
    width: 40px;
  }
  #introducao #section-1 #agrupandoEsquerdaMeio #meio h1 {
    font-size: 2.5em;
  }
}
#section-2 {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#section-2 h2 {
  border-top: solid 2px blue;
  font-size: 2.5em;
  font-weight: bolder;
  padding: 20px 0px;
}
#section-2 #div-section2-icones {
  display: flex;
  gap: 25px;
}
#section-2 #div-ver-todos-jogos {
  display: flex;
  align-items: center;
  gap: 10px;
}
#section-2 #div-ver-todos-jogos a {
  color: rgb(3, 164, 200);
  text-decoration: none;
  font-size: 1.1em;
  font-weight: bolder;
}

@media screen and (min-width: 1300px) {
  #section-2 {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 660px) {
  #section-2 h2 {
    font-size: 2em;
  }
  #section-2 #div-section2-icones {
    display: none;
  }
}
@media screen and (max-width: 360px) {
  #section-2 {
    justify-content: space-evenly;
  }
  #section-2 h2 {
    font-size: 1.5em;
  }
  #section-2 #div-ver-todos-jogos {
    font-size: 0.8em;
  }
}
#section-3 {
  background-color: rgb(58, 57, 57);
  box-shadow: inset 10px 10px 150px 100px black;
  min-height: 95vh;
  border-top: solid 2px white;
  border-bottom: solid 2px white;
  padding: 40px 20px;
}
#section-3 #container-cards-jogos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 40px 20px;
  color: rgb(197, 188, 188);
  width: 100%;
  margin: auto;
  max-width: 1300px;
}
#section-3 #container-cards-jogos .cards {
  font-weight: bold;
  margin: auto;
  width: 300px;
}
#section-3 #container-cards-jogos .cards .background-cards {
  background-size: cover;
  box-shadow: inset 0px -100px 200px black;
  position: relative;
  border: solid 2px white;
  border-radius: 10px;
  width: 300px;
  height: 410px;
}
#section-3 #container-cards-jogos .cards h5 {
  margin: 10px 0px;
  font-size: 1.3em;
  font-weight: bold;
}
#section-3 #container-cards-jogos .cards img {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
}
#section-3 #container-cards-jogos .cards #img-blizzard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

@media screen and (max-width: 1100px) {
  #section-3 #container-cards-jogos {
    grid-template-columns: 2fr 2fr;
  }
}
@media screen and (max-width: 700px) {
  #section-3 {
    background: black;
    background-position: left left;
  }
  #section-3 #container-cards-jogos .cards {
    font-size: 0.9em;
    width: 200px;
  }
  #section-3 #container-cards-jogos .cards .background-cards {
    width: 200px;
    height: 300px;
  }
}
@media screen and (max-width: 470px) {
  #section-3 #container-cards-jogos {
    grid-template-columns: 1fr;
  }
}
#section-4 {
  background: black url(../imagens/footer-background.png) center center no-repeat;
  background-size: cover;
  color: #ffffff;
}
#section-4 #centralizacaoTelaGrande-footer {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding-top: 50px;
  min-height: 110vh;
}
#section-4 #conteudo-texto {
  padding: 50px;
  max-width: 430px;
}
#section-4 #conteudo-texto * {
  padding: 18px 5px;
}
#section-4 #conteudo-texto h2 {
  font-size: 2.4em;
  font-weight: bolder;
  padding: 20px 0px;
}
#section-4 #conteudo-texto .detalhes {
  font-size: 1.2em;
  color: rgb(164, 162, 162);
  font-weight: bold;
}
#section-4 #conteudo-texto #butao-baixar {
  font-weight: bolder;
  margin: 20px 0px;
  min-width: 240px;
  transition: 0.3s;
}
#section-4 #ilustration {
  position: relative;
  right: 0;
}
#section-4 #ilustration #ilustration-app {
  position: absolute;
  transform: translateY(-50%);
  max-width: 900px;
}
#section-4 #ilustration #ilustration-app-mini {
  position: absolute;
  transform: translateY(-60%);
  max-width: 700px;
}

@media screen and (min-width: 1300px) {
  #centralizacaoTelaGrande-footer {
    max-width: 1400px;
    margin: auto;
  }
}
@media screen and (max-width: 950px) {
  #section-4 {
    display: block;
  }
  #section-4 #conteudo-texto {
    position: relative;
    z-index: 10;
  }
  #section-4 #conteudo-texto .detalhes {
    color: rgb(209, 209, 209);
  }
  #section-4 #ilustration {
    position: absolute;
    left: 0;
    z-index: 0;
  }
  #section-4 #ilustration #ilustration-app-mini {
    display: none;
  }
}
@media screen and (max-width: 425px) {
  #section-4 {
    text-align: center;
  }
  #section-4 #conteudo-texto {
    padding: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
