#btn-close {
    margin-right: 50px;
    margin-top: 10px;
}

#introducao {
    background: black url(..//imagens/banner-hero/games/diablo-bg.png) center center no-repeat;
    background-size: cover;
    color: white;
    min-height: 100vh;

    #header {
        border-bottom: solid .5px rgb(109, 107, 107);
        display: flex;
        justify-content: space-around;
        align-items: center;

        #logo-principal {
            border-bottom: solid 1px blue;
            max-width: 180px;
            padding: 19px 0px;
        }

        #nav {
            display: flex;
            gap: 3px;
            justify-content: space-around;
            min-width: 40%;

            a {
                color: white;
                font-weight: bold;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        button {
            font-weight: bold;
            transition: .3s;
            width: 130px;

            border-width: 1.9px;
        }

        
        #menu-hamburguer {
            width: 40px;
            height: 40px;
            display: none;
        }

        #offcanvasNavbar {
            #container-canvas-menu {
                
                a {
                    text-decoration: none;
                    font-size: 2em;
                    font-weight: bold;
                    width: 100%;
                }
                li {  
                    margin: 10px 0px;
                }
            }
        }
    }



    #section-1 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 85vh;
        gap: 20px;

        #agrupandoEsquerdaMeio {
            display: flex;
            align-items: center;
            gap: 20px;

            #esquerda {
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding: 20px;
    
                .iconeBtn {
                    cursor: pointer;
                    padding: 5px;
                    border: solid 2px white;
                    border-bottom: transparent;
                    border-top: solid 3px;
                    border-radius: 50%;

                    &:hover {
                        border: solid 2px #ffff00;
                        border-bottom: transparent;
                        border-top: solid 3px rgb(255, 255, 0);
                    }

                    &.initial {
                        border-color: rgb(255, 255, 0);
                    }
                }
            }
    
            #meio {
                h1 {
                    font-size: 3.5em;
                    font-weight: bolder;
                    max-width: 500px;
                }
                p {
                    font-size: 1.2em;
                    font-weight: bold;
                }
                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                    font-weight: bolder;
                    transition: .3s;
                    width: 160px;
                    
                    border-width: 2px;
                    #icone-Joge-Agora {
                        font-weight: bolder;
                        font-size: 1.15em;
                    }
                }
            }
        } 

        #direita {
            position: relative;
            display: flex;
            flex-direction: column;
            text-align: end;
            font-size: 1.1em;
            font-weight: bold;
            padding: 10px;
            
            #imgPageVideo {
                border: solid 2px white;
                width: 280px;
                height: 160px;
            }

            #play {
                position: absolute;
                top: 55%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }   
}



@media screen and (min-width: 1500px) {
    #introducao {
        #centralizacaoTelaGrande {
            font-size: 1.5em;
            margin: auto;
            max-width: 1500px;

            #section-1 { 
                #agrupandoEsquerdaMeio {
                    #meio {
                        h1 {
                            font-size: 3em;
                            max-width: 800px;
                        }
                    }
                }
            }
        }
    }
    
}


@media screen and (max-width: 900px) {
    #introducao {
        #header {
            #logo {
                margin: 0px 40px;
            }
            #nav {
                display: none;
            }
            #menu-hamburguer {
                display: block;

                #iconeMenu {
                    display: block;font-size: 3em;
                }
            }

            
        }

        #section-1 {
            #direita {
                display: none;
            }

            #agrupandoEsquerdaMeio {
                #meio {
                    h1 {
                        font-size: 3em;
                        max-width: 100%;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 585px) {
    #introducao {
        #header {
            button {
                display: none;
            }
        }

        #section-1 {
            padding: 0px 30px;
            #agrupandoEsquerdaMeio {
                flex-direction: column;
                align-items: flex-start;

                #esquerda {
                    padding: 0px;
                    flex-direction: row;

                    .iconeBtn {
                        width: 60px;
                    }
                }
            }
        }
    }   
}



@media screen and (max-width: 365px) {
    #introducao {
        #section-1 {
            #agrupandoEsquerdaMeio {
                #esquerda {
                    .iconeBtn {
                        width: 40px;
                    }
                }
                #meio {
                    h1 {
                        font-size: 2.5em;
                    }
                }
            }
        }
    }
}