#introducao {
    background: black url(..//imagens/banner-hero/games/diablo-bg.png) center center no-repeat;
    background-size: cover;
    color: white;
    min-height: 100vh;
 
    #centralizacaoTelaGrande {
        margin: auto;
        max-width: 1500px;

        #header {
            border-bottom: solid .5px rgb(109, 107, 107);
            display: flex;
            justify-content: space-around;
            align-items: center;
    
            #logo-principal {
                border-bottom: solid .5px blue;
                max-width: 180px;
            }
    
            #nav {
                display: flex;
                gap: 5px;
                justify-content: space-around;
                min-width: 40%;
    
                a {
                    color: white;
                    font-weight: bold;
                    text-decoration: none;
    
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
    
            button {
                font-weight: bold;
                transition: .3s;
                width: 130px;
            }
    
            #menu-hamburguer {
                background-color: red;
                width: 40px;
                height: 40px;
                display: none;
            }
        }
    
    
    
        #section-1 {
            display: flex;
            justify-content: space-around;
            align-items: center;
            min-height: 85vh;
            gap: 20px;
    
            #agrupandoEsquerdaMeio {
                display: flex;
                align-items: center;
                gap: 20px;
    
                #esquerda {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    padding: 20px;
        
                    .iconeBtn {
                        cursor: pointer;
                        padding: 5px;
                        border: solid 2px white;
                        border-bottom: transparent;
                        border-top: solid 3px;
                        border-radius: 50%;
                    }
                }
        
                #meio {
                    h1 {
                        font-size: 3.5em;
                        font-weight: bolder;
                        max-width: 500px;
                    }
                    p {
                        font-size: 1.2em;
                        font-weight: bold;
                    }
                    button {
                        font-weight: bold;
                        transition: .3s;
                        width: 130px;
                    }
                }
            } 
        }
    
        #direita {
            padding: 10px;
            #imgPageVideo {
                border: solid 2px white;
            }
        }
    }

}


@media screen and (max-width: 900px) {
    #introducao {
        #header {
            #logo {
                margin: 0px 40px;
            }
            #nav {
                display: none;
            }
            #menu-hamburguer {
                display: block;
            }
        }
    }
}