#section-3 {
    background: black url(../imagens/Leonardo_Diffusion_Uma_ilustrao_detalhada_enfrenta_o_lobo_ninj_0.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 10px 10px 150px 100px black;
    min-height: 95vh;
    border-top: solid 2px white;
    border-bottom: solid 2px white;
    padding: 40px 20px;
    max-width: 1300px;

    #container-cards-jogos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        gap: 40px 20px;
        color: rgb(197, 188, 188);
        width: 100%;

        .cards {
            font-weight: bold;
            margin: auto;
            width: 300px;

            .background-cards {
                border: solid 2px white;
                border-radius: 10px;
                width: 300px;
                height: 410px;
            }

            h5 {
                margin: 10px 0px;
                font-size: 1.3em;
                font-weight: bold;
            }
        }
    }
}

@media screen and (max-width: 660px) {
    #section-3 {
        background-image: url(../imagens/Leonardo_Diffusion_Uma_ilustrao_detalhada_enfrenta_o_lobo_ninj_2.jpg);
        background-position: left left;
    }
}