#section-3 {
    background: black url(../imagens/Leonardo_Diffusion_Uma_ilustrao_detalhada_enfrenta_o_lobo_ninj_0.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 10px 10px 150px 100px black;
    min-height: 95vh;
    border-top: solid 2px white;
    border-bottom: solid 2px white;
    padding: 40px 20px;

    #container-cards-jogos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        gap: 40px 20px;
        color: rgb(197, 188, 188);
        width: 100%;
        margin: auto;
        max-width: 1300px;

        .cards {
            font-weight: bold;
            margin: auto;
            width: 300px;

            .background-cards {
                background-size: cover;
                box-shadow: inset 0px -100px 200px black;
                position: relative;
                border: solid 2px white;
                border-radius: 10px;
                width: 300px;
                height: 410px;
            }

            h5 {
                margin: 10px 0px;
                font-size: 1.3em;
                font-weight: bold;
            }

            img {
                position: absolute;
                bottom: 30px;
                left: 50%;
                transform: translateX(-50%);
                width: 50%;
            }

            #img-blizzard {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 50%;
            }
        }
    }
}


@media screen and (max-width: 1100px) {
    #section-3 {
        #container-cards-jogos {
            grid-template-columns: 2fr 2fr;

        }
    }
}

@media screen and (max-width: 700px) {
    #section-3 {
        background: black;
        background-position: left left;

        #container-cards-jogos {
            .cards {
                font-size: .9em;
                width: 200px;
    
                .background-cards {
                    width: 200px;
                    height: 300px;
                }
            }
        }
    }
}

@media screen and (max-width: 470px) {
    #section-3 {
        #container-cards-jogos {
            grid-template-columns: 1fr;
        }
    }
}